<!--appointment-procedures.hbs-->
{{!< blank}}

{{!-- Add Appointment Procedures Form --}}
<form class="procedureForm" id="add-appointment-procedures-form" method="POST" action="/add-appointment-procedure-form">
  <h2>Add Procedures to Appointment</h2>
  <p>Please select procedures for appointment {{procApptID}}:</p>
  <p class="apptDetails">{{apptPet}} on {{formatDate procApptDate}}:</p>
  <p>If 0 procedures are selected, no appointment will be created.</p>

  {{#each procedureOptions}}
  <label class="pCheckbox" for="{{this.proc_name}}">{{this.proc_name}}
    <input type="checkbox" onClick="showChecked()" id="{{this.proc_name}}" name="procedure{{@index}}" value="{{this.procedureID}}">
    <span class="checkmark"></span>
  </label>
  {{/each}}

  {{!-- Procedure Counter --}}
  <div id="procsChecked">Total Procedures: <span id="numProcs" name="numProcs"></span></div>
  <script>
    function showChecked() {
      document.getElementById('numProcs').innerHTML = getCheckBoxCount();
    }
    function getCheckBoxCount() {
      return document.querySelectorAll('input[type=checkbox]:checked').length;
    }
  </script>

  <input type="submit" value="Add Procedures">
</form>
