<!--appointment-procedures.hbs-->

{{!-- Add Appointment Procedures Form --}}
    <div id="add-appointment-procedures">
      <form id="add-appointment-procedures-form" method="POST" action="/add-appointment-procedure-form">
        <legend>Add Procedures to Appointment</legend>
        <fieldset>
          <p>Please select procedures for appointment {{#each apptInfo}}{{this.appointmentID}}{{/each}}: {{#each apptPet}}{{this.pet_name}}{{/each}} on {{#each apptInfo}}{{formatDate this.appointment_date}}{{/each}}:</p>
          {{#each procedureOptions}}
          <input type="checkbox" onClick="showChecked()" id="{{this.proc_name}}" name="procedure{{@index}}" value="{{this.procedureID}}">
          <label for="{{this.proc_name}}">{{@index}}: {{this.proc_name}}</label>
         {{/each}}
         <input type="text" id="numProcText">
         <div id="procsChecked">Total Procedures = <span id="numProcs" name="numProcs"></span></div>
         <script>
             function showChecked() {
                 document.getElementById('numProcText').setAttribute('value', getCheckBoxCount());
                 document.getElementById('numProcs').innerHTML = getCheckBoxCount();
             }
             function getCheckBoxCount() {
                 return document.querySelectorAll('input[type=checkbox]:checked').length;
             }
         </script>
        <input type="submit" value="Add Procedures">
        </fieldset>
      </form>
    </div>