<!-- appointments.hbs -->

{{!-- script to highlight current tab in nav bar --}}
<script>
  var element = document.getElementById("appointmentsNav");
  element.classList.add("active");
</script>

<div class="pageTitle">
  <h2>Appointments</h2>
</div>

<div class="tables">
  {{!-- Appointments Table --}}
  <table id="appointments-table">
    <thead>
      <tr>
        <th class="apptIDCell">Appointment ID</th>
        <th class="petNameCell">Pet Name</th>
        <th class="examRoomCell">Exam Room</th>
        <th class="requestedVetCell">Requested Vet</th>
        <th class="dateCell">Date</th>
        <th>Scheduled Procedures</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each appointmentData}}
      <tr appointment-data-value={{this.appointmentID}}>
        <td>{{this.appointmentID}}</td>
        <td>{{this.petID}}</td>
        <td>{{this.exam_roomID}}</td>
        <td>{{this.requested_vetID}}</td>
        <td>{{formatDate this.appointment_date}}</td>
        <td class="viewCell"><button id="viewAppts" class="viewButton" onClick="viewAppt({{this.appointmentID}})">View</button></td>
        <td class="deleteCell"><button class="deleteButton" onClick="deleteAppointment({{this.appointmentID}})"><i class="fa-solid fa-trash fa-1x"></i></button></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <script src="./js/view_appt-proc.js"></script>
  <script src="./js/delete_appointment.js"></script>

  <div class="searchSpace"></div>

  {{!-- Search Appointment Form --}}
  <form class="search" id="search-appointments" method="GET" action="/appointments">
      <select name="petID" id="input-petID">
        <option disabled selected hidden>Search by Pet Name...</option>
        {{#each pets}}
        <option value="{{this.petID}}">{{this.pet_name}}</option>
        {{/each}}
      </select>

      <input class="search" type="submit" value="Search">
      <a href='/appointments'><button>Reset</button></a>
  </form>
</div>


<div class="forms">
  <div class="tab">
    <button class="tablinks" onclick="openForm(event, 'addForm')">Add Appointment</button>
    <button class="tablinks" onclick="openForm(event, 'updateForm')">Update Appointment</button>
  </div>
  <script src="./js/tabs.js"></script>

  <div id="addForm" class="tabContent">
    {{!-- Add Appointment Form --}}
    <form class="addForm" id="add-appointment-form" method="POST" action="/add-appointment-form">
        <p>Please select appointment information, and then click 'add procedures' to add procedures to the appointment</p>

      <div>
        <label for="input-petID">pet name: </label>
        <select required name="input-petID" id="input-petID">
          <option disabled selected value="">Select Pet Name</option>
          {{#each pets}}
          <option value="{{this.petID}}">{{this.pet_name}}</option>
          {{/each}}
      </select>
      </div>

      <div>
        <label for="input-exam_roomID">Exam Room:</label>
        <select required name="input-exam_roomID" id="input-exam_roomID">
          <option disabled selected value="">Select Exam Room</option>
          {{#each exam_rooms}}
          <option value="{{this.exam_roomID}}">{{this.exam_roomID}}</option>
          {{/each}}
        </select>
      </div>

      <div>
        <label for="input-requested_vetID">Requested Vet:</label>
        <select required name="input-requested_vetID" id="input-requested_vetID">
          <option disabled selected value="">Select Requested Vet</option>
          {{#each requestedVets}}
          <option value="{{this.vetID}}">{{this.vet_name}}</option>
          {{/each}}
          <option value="">No Requested Vet</option>
        </select>
      </div>

      <div>
        <label for ="input-appointment_date">Appointment Date:</label>
        <input required type="date" id="input-appointment_date" name="input-appointment_date">
      </div>

      <input type="submit" value="Add Procedures">
    </form>
  </div>

  <div id="updateForm" class="tabContent">

    {{!-- Update Appointment Form --}}
    <form class="updateForm" id="update-appointment-form">
      <p>Please select the Pet's Name of the appointment you'd like to update.
        Verify you have selected the correct appointment by the appointment ID.
        Then update information.
      </p>

      <div>
        <label for="input-appointmentID">Pet Name | Appointment ID: </label>
        <select required name="appointmentSelect" id="appointmentSelect">
          <option disabled selected value="">Select Pet Name</option>
          {{#each petApptIDs}}
          <option value="{{this.appointmentID}}">{{this.pet_name}} | Appointment ID: {{this.appointmentID}}</option>
          {{/each}}
        </select>
      </div>

      <div>
        <label for="input-exam_roomID">Exam Room:</label>
        <select required name="input-exam_room-update" id="input-exam_room-update">
          <option disabled selected value="">Select Exam Room</option>
          {{#each exam_rooms}}
          <option value="{{this.exam_roomID}}">{{this.exam_roomID}}</option>
          {{/each}}
        </select>
      </div>

      <div>
        <label for="input-requested_vetID">Requested Vet:</label>
        <select required name="input-requested_vetID-update" id="input-requested_vetID-update">
          <option disabled selected value="">Select Requested Vet</option>
          {{#each requestedVets}}
          <option value="{{this.vetID}}">{{this.vet_name}}</option>
          {{/each}}
          <option value="NULL">No Requested Vet</option>
        </select>
      </div>

      <div>
        <label for ="input-appointment_date">Appointment Date:</label>
        <input required type="date" id="input-date-update" name="input-date-update">
      </div>

      <div class="updateApptProcList">
        <label for="input-procedures">Procedures:</label>
        <div class="updateProcSpace"></div>
        {{#each updateProcs}}
        <label class="procCheckbox" for="{{this.proc_name}}">{{this.proc_name}}
        <input type="checkbox" id="{{this.proc_name}}" name="procedure{{@index}}" value="{{this.procedureID}}">
        <span class="procCheckmark"></span>
        </label>
        {{/each}}
      </div>

      <input type="submit" value="Update Appointment">
    </form>
    <script src="./js/update_appointment.js"></script>
  </div>
</div>
