<!-- owners.hbs -->


{{!-- script to highlight current tab in nav bar --}}
<script>
  var element = document.getElementById("ownersNav");
  element.classList.add("active");
</script>

<div class="pageTitle">
<h2>Owners</h2>
</div>

<div class="tables">
{{!-- Owners Table --}}
<table id="owners-table">
    <thead>
        <tr>
            <th>Owner ID</th>
            <th>Owner Name</th>
            <th>Email</th>
        </tr>
    </thead>

    <tbody>
        {{#each Owner}}
        <tr data-value={{this.ownerID}}>
            <td>{{this.ownerID}}</td>
            <td>{{this.owner_name}}</td>
            <td>{{this.email}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div class="searchSpace"></div>
{{!-- Search Form/Bar --}}
<div id="search-owners">
    <form class="search" id="search-owner" method='GET' action='/owners'>
        <input type="text" placeholder="Search by Owner Name..." name="owner_name" id="input-owner_name-search">
        <input class="search" type="submit" value="Search">
        <a href='/owners'><button>Reset</button></a>

    </form>
</div>
</div>

<div class="forms">

        <div class="tab">
        <button class="tablinks" onclick="openForm(event, 'addForm')">Add Owner</button>
        <button class="tablinks" onclick="openForm(event, 'updateForm')">Update Owner</button>
    </div>
    <script src="./js/tabs.js"></script>

    <div id="addForm" class="tabContent">
{{!-- Add Owner Form --}}
    <form class="addForm" id="add-owner-form" method="POST" action="/add-owner-form">
            <p>please enter info and click submit</p>

            <label for="input-owner_name">Owner Name: </label>
            <input required type="text" placeholder="Owner Name..." name="input-owner_name" id="input-owner_name">

            <label for="input-email">Email: </label>
            <input required type="text" placeholder="email@email.com" name="input-email" id="input-email">

            <input type="submit" value="Add Owner">
    </form>
</div>


{{!-- Update Owner Form --}}
<div id="updateForm" class="tabContent">
    <form class="updateForm" id="update-owner-form">
            <p>To update an owner's email, select their name and enter their new email</p>

            <label for="input-owner_name">Owner's Name: </label>
            <select required name="input-ownerID" id="ownerSelect">
                <option disabled selected value="">Select an Owner</option>
                {{#each Owner}}
                 <option value="{{this.ownerID}}">{{this.owner_name}}</option>
                {{/each}}
            </select>

            <label for="input-email">New Email: </label>
            <input required type="text" name="input-email" id="input-email-update">
            <input type="submit" value="Update Owner">
    </form>
    <script src="./js/update_owner.js"></script>
</div>


</div>