
<h1>Pets</h1>

<a href="/">Home</a>
<a href="/pets">Pets</a>
<a href="/appointments">Appointments</a>
<a href="/owners">Owners</a>
<a href="/pet-types">Pet Types</a>
<a href="/procedures">Procedures</a>
<a href="/veterinarians">Veterinarians</a>

{{!-- Pets Table --}}
<table id="pets-table">
    <thead>

        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr data-value={{this.petID}}>
            <td>{{this.petID}}</td>
            <td>{{this.pet_name}}</td>
            <td>{{this.ownerID}}</td>
            <td>{{this.pet_typeID}}</td>
            <td>{{this.breed}}</td>
            <td>{{this.birthdate}}</td>
            <td><button onclick="deletePet({{this.petID}})">Delete</button>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_pet.js"></script>

{{!-- Search form --}}
<h2>Search Using an HTML Form</h2>
<p>Search by pet name using the field below. Partial pet names are ok!</p>
<form id="search-pet" method='GET' action='/pets'>
    <label for="input-pet_name"> Search by Pet Name: </label>
    <input type="text" name="pet_name" id="input-pet_name-search">

    <input type="submit">
    <a href='/pets'><button>Reset</button></a>
</form>


{{!-- Add Pet Form --}}
<h2>Add a Pet</h2>
<p>to add new pet, please enter their information and click submit</p>
<form id="add-pet-form">

     <label for="input-pet_name">Pet Name: </label>
    <input type="text" name="input-pet_name" id="input-pet_name">

    <label for="input-ownerID">Owner: </label>
    <select name="input-ownerID" id="input-ownerID">
        <option value="">Select Owner</option>
        {{#each owners}}
        <option value="{{this.ownerID}}">{{this.owner_name}}</option>
        {{/each}}
    </select>

    <label for="input-pet_typeID">Pet Type: </label>
    <select name="input-pet_typeID" id="input-pet_typeID">
        <option value="">Select Pet Type</option>
        {{#each pet_types}}
        <option value="{{this.pet_typeID}}">{{this.type_name}}</option>
        {{/each}}
    </select>

    <label for="input-breed">Breed: </label>
    <input type="text" name="input-breed" id="input-breed">

    <label for="input-birthdate">Birthdate: </label>
    <input type="date" name="input-birthdate" id="input-birthdate">

    <input type="submit">
</form>

<script src="./js/add_pet.js"></script>

{{!-- Update Pet Form --}}
<h2>Update A Pet</h2>
<p>To update a pet's blah blah select their name from the drop down</p>
<form id="update-pet-form">
    <label for="input-pet_name">Pet's Name: </label>
    <select name="input-pet_name" id="mySelect">
        <option value="test">Select a Pet</option>
        {{#each data}}
        <option value="{{this.petID}}">{{this.pet_name}}</option>
        {{/each}}
    </select>

    <label for="input-pet_type">Pet Type: </label>
    <select name="input-pet_type" id="input-pet_type-update">
        <option>select pet type</option>
        {{#each pet_types}}
        <option value="{{this.pet_typeID}}">{{this.type_name}}</option>
        {{/each}}
    </select>
    <input type="submit">
</form>

<script src="./js/update_pet.js"></script>