<!-- procedures.hbs -->


{{!-- script to highlight current tab in nav bar --}}
<script>
  var element = document.getElementById("proceduresNav");
  element.classList.add("active");
</script>

<div class="pageTitle">
<h2>Procedures</h2>
</div>

<div class="tables">
{{!-- Procedures Table --}}
      <table id="procedures-table">
        <thead>
          <tr>
            <th>Procedure ID</th>
            <th>Name</th>
            <th>Cost($)</th>
          </tr>
        </thead>
        <tbody>
          {{#each procedureData}}
          <tr data-value={{this.procedureID}}>
            <td>{{this.procedureID}}</td>
            <td>{{this.proc_name}}</td>
            <td>{{this.cost}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
</div>


<div class="forms">
      <div class="tab">
        <button class="tablinks" onclick="openForm(event, 'addForm')">Add Procedure</button>
        <button class="tablinks" onclick="openForm(event, 'updateForm')">Update Procedure</button>
    </div>
    <script src="./js/tabs.js"></script>

    <div id="addForm" class="tabContent">
{{!-- Add Procedure Form --}}
  <form class="addForm" id="add-procedure-form" method="POST" action="/add-procedure-form">
      <p>please enter info and click "Add Procedure"</p>

      <label for="input-proc_name">Procedure Name: </label>
      <input type="text" name="input-proc_name" id="input-proc_name">

      <label for="input-cost">Cost: </label>
      <input type="number" name="input-cost" id="input-cost">

      <input type="submit" value="Add Procedure">
  </form>
</div>

{{!-- Update Procedure Form --}}
<div id="updateForm" class="tabContent">
  <form class="updateForm" id="update-procedure-form">
      <p>To update the cost of a procedure, please select the procedure name from the drop down</p>

      <label for="input-procedure_name">Procedure: </label>
      <select name="input-procedure_name" id="procedureSelect">
        <option disabled selected hidden>Select a Procedure</option>
        {{#each procedureData}}
        <option value="{{this.procedureID}}">{{this.proc_name}}</option>
        {{/each}}
      </select>

      <label for="input-cost">Cost: </label>
      <input type="number" name="input-cost" id="input-cost-update">

      <input type="submit" value="Update Procedure">
  </form>
</div>

<script src="./js/update_procedure.js"></script>
</div>