<!--veterinarian-procedures.hbs-->

{{!-- Add Vet Procedures Form --}}
      <form id="add-veterinarian-procedures-form" method="POST" action="/add-veterinarian-procedures-form">
        <legend>Assign Procedures to Veterinarian</legend>
          <p>Please select procedures Veterinarian {{#each vetInfo}}{{this.vetID}}{{/each}} can perform:</p>
          {{#each procedureOptions}}
          <input type="checkbox" onClick="showChecked()" id="{{this.proc_name}}" name="procedure{{@index}}" value="{{this.procedureID}}">
          <label for="{{this.proc_name}}">{{this.proc_name}}</label>
         {{/each}}
         <div id="procsChecked">Total Procedures = <span id="numProcs" name="numProcs"></span></div>
         <script>
             function showChecked() {
                 document.getElementById('numProcs').innerHTML = getCheckBoxCount();
             }
             function getCheckBoxCount() {
                 return document.querySelectorAll('input[type=checkbox]:checked').length;
             }
         </script>
        <input type="submit" value="Add Procedures">
      </form>
    </div>