<!-- veterinarians.hbs -->

{{!-- script to highlight current tab in nav bar --}}
<script>
  var element = document.getElementById("vetsNav");
  element.classList.add("active");
</script>

<div class="pageTitle">
<h2>Veterinarians</h2>
</div>

<div class="tables">
{{!-- Veterinarians Table --}}

      <table id="vets-table">
        <thead>
          <tr>
            <th>Vet ID</th>
            <th>Vet Name</th>
            <th>Procedures</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {{#each vetData}}
          <tr vet-data-value={{this.vetID}}>
            <td>{{this.vetID}}</td>
            <td>{{this.vet_name}}</td>
            <td class="viewCell"><button class="viewButton" onclick="viewProcedures({{this.vetID}})">View</button></td>
            <td class="deleteCell"><button class="deleteButton" onclick="deleteVet({{this.vetID}})"><i class="fa-solid fa-trash fa-1x"></i></button>

          </tr>
          {{/each}}
        </tbody>
      </table>
      <script src="./js/view_vet-proc.js"></script>
      <script src="./js/delete_vet.js"></script>
      <p>Click view to see all the procedures that talented vet can perform!</p>
</div>

<div class="forms">
     <div class="tab">
        <button class="tablinks" onclick="openForm(event, 'addForm')">Add Veterinarian</button>
    </div>
    <script src="./js/tabs.js"></script>

    <div id="addForm" class="tabContent">
{{!-- Add Vet Form --}}
  <form class="addForm" id="add-vet-form" method="POST" action="/add-vet-form">
  <p>Enter new Veterinarian's name, then click "Add Procedures" to assign that vet procedures.</p>
      <label>Vet's Name: </label>
      <input type="text" name="input-vet_name" id="input-vet_name">
      <div></div>
      <input type="submit" value="Add Procedures">
  </form>
  </div>
</div>
